@using Domain.Models;

<div class="d-flex flex-column border rounded p-3 mb-2">
    <div class="d-flex flex-column" style="cursor: pointer;" @onclick="() => OnSelectEntity.InvokeAsync(this.Entity)">
        <h5>@Entity.Name</h5>
        <p>
            <strong>Bank:</strong>
            @Entity.BankAccount!.BankName
            (@Entity.BankAccount.AccountNumber/@Entity.BankAccount.BankCode)
        </p>
        <p>
            <strong>Address:</strong>
            @Entity.Address!.Street, @Entity.Address.City
        </p>
     </div>
     <div class="d-flex flex-row gap-2 mt-2">
         <button class="btn btn-primary" @onclick="() => OnEditEntity.InvokeAsync(this.Entity)">Edit</button>
        <button class="btn btn-danger" @onclick="() => OnDeleteEntity.InvokeAsync(this.Entity)">Delete</button>
     </div>
</div>

@code {
    [Parameter, EditorRequired] public Entity Entity { get; set; } = null!;
    [Parameter] public EventCallback<Entity> OnSelectEntity { get; set; }
    [Parameter] public EventCallback<Entity> OnDeleteEntity { get; set; }
    [Parameter] public EventCallback<Entity> OnEditEntity { get; set; } 
}
