@using Application.DTOs
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EntityDetailView> L

<div class="d-flex flex-column p-4 bg-light flex-grow-1">
    @*Entity*@
    <h4>@SelectedEntity.Name</h4>
    <div class="d-flex flex-row gap-5">
        <p><strong>@L["IcoLabel"]</strong> @SelectedEntity.Ico</p>
        <p><strong>@L["EmailLabel"]</strong> @SelectedEntity.Email</p>
        <p><strong>@L["PhoneLabel"]</strong> @SelectedEntity.PhoneNumber</p>
    </div>
    @* Address and Bank Account*@
    <div class="d-flex flex-row gap-5">
        <div class="d-flex flex-column border border-black p-3 rounded flex-grow-1 bg-white">
            <h5 class="text-primary">@L["BankAccountSectionTitle"]</h5>
            <p><strong>@L["BankNameLabel"]</strong> @SelectedEntity.BankAccount!.BankName</p>
            <p>
                <strong>@L["AccountNumberLabel"]</strong> @SelectedEntity.BankAccount.AccountNumber
            </p>
            <p><strong>@L["BankCodeLabel"]</strong> @SelectedEntity.BankAccount.BankCode</p>
            <p><strong>@L["IBANLabel"]</strong> @SelectedEntity.BankAccount.IBAN</p>
        </div>
        <div class="d-flex flex-column border border-black p-3 rounded flex-grow-1 bg-white">
            <h5 class="text-primary">@L["AddressSectionTitle"]</h5>
            <p><strong>@L["StreetLabel"]</strong> @SelectedEntity.Address!.Street</p>
            <p><strong>@L["CityLabel"]</strong> @SelectedEntity.Address!.City</p>
            <p><strong>@L["ZipCodeLabel"]</strong> @SelectedEntity.Address!.ZipCode</p>
            <p><strong>@L["CountryLabel"]</strong> @SelectedEntity.Address!.Country</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EntityDto SelectedEntity { get; set; } = null!;
}