@using Frontend.Utils
@using Microsoft.Extensions.Localization
@using Application.DTOs
@using Shared.Extensions
@inject IStringLocalizer<InvoicePreview> L

<div class="container my-4">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <!-- Invoice Header -->
            <h5 class="text-center">@L["HeaderTitle"]</h5>
            <div class="d-flex justify-content-between">
                <div>
                    <h5>@L["InvoiceNumberLabel"] @Invoice.InvoiceNumber</h5>
                    <p><strong>@L["IssueDateLabel"]</strong> @Invoice.IssueDate.FormatByCurrencyLocale(Invoice.Currency)</p>
                    <p><strong>@L["DueDateLabel"]</strong> @Invoice.DueDate.FormatByCurrencyLocale(Invoice.Currency)</p>
                </div>
                <div class="text-end">
                    <p><strong>@L["PaymentMethodLabel"]</strong> @L[Invoice.PaymentMethod.ToString().SeperateCamelCase()]</p>
                    <p><strong>@L["DeliveryMethodLabel"]</strong> @L[Invoice.DeliveryMethod.ToString().SeperateCamelCase()]</p>
                </div>
            </div>

            <hr />

            <!-- Seller and Buyer Information -->
            <div class="d-flex justify-content-between">
                <div>
                    <h5>@L["SellerSectionTitle"]</h5>
                    <p><strong>@L["NameLabel"]</strong> @Invoice.Seller?.Name</p>
                    <p><strong>@L["AddressLabel"]</strong> @Invoice.Seller?.Address?.Street, @Invoice.Seller?.Address?.City @Invoice.Seller?.Address?.ZipCode, @Invoice.Seller?.Address?.Country</p>
                    <p><strong>@L["EmailLabel"]</strong> @Invoice.Seller?.Email</p>
                    <p><strong>@L["PhoneNumberLabel"]</strong> @Invoice.Seller?.PhoneNumber</p>
                </div>
                <div>
                    <h5>@L["BuyerSectionTitle"]</h5>
                    <p><strong>@L["NameLabel"]</strong> @Invoice.Buyer?.Name</p>
                    <p><strong>@L["AddressLabel"]</strong> @Invoice.Buyer?.Address?.Street, @Invoice.Buyer?.Address?.City @Invoice.Buyer?.Address?.ZipCode, @Invoice.Buyer?.Address?.Country </p>
                    <p><strong>@L["EmailLabel"]</strong> @Invoice.Buyer?.Email</p>
                    <p><strong>@L["PhoneNumberLabel"]</strong> @Invoice.Buyer?.PhoneNumber</p>
                </div>
            </div>

            <hr />

            <!-- Invoice Items Table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@L["TableHeaderDescription"]</th>
                            <th>@L["TableHeaderQty"]</th>
                            <th>@L["TableHeaderUnit"]</th>
                            <th>@L["TableHeaderUnitPrice"]</th>
                            <th>@L["TableHeaderTotal"]</th>
                            <th>@L["TableHeaderVatRate"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Invoice.Items)
                        {
                            <tr>
                                <td>@item.Description</td>
                                <td>@item.Quantity</td>
                                <td>@item.Unit</td>
                                <td>@Invoice.Currency.FormatAmount(item.UnitPrice)</td>
                                <td>@Invoice.Currency.FormatAmount(item.Quantity * item.UnitPrice)</td>
                                <td>@((item.VatRate * 100).ToString("F0")) %</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <hr />

            <!-- Totals Section -->
            <div class="d-flex justify-content-between">
                <div>
                    <p><strong>@L["TotalPriceWithoutVatLabel"]</strong> @Invoice.Currency.FormatAmount(Invoice.Items.Sum(i => i.Quantity * i.UnitPrice))</p>
                    <p><strong>@L["TotalVatLabel"]</strong> @Invoice.Currency.FormatAmount(Invoice.Items.Sum(i => i.Quantity * i.UnitPrice * i.VatRate))</p>
                </div>
                <div>
                    <p><strong>@L["TotalPriceWithVatLabel"]</strong> @Invoice.Currency.FormatAmount(Invoice.Items.Sum(i => i.Quantity * i.UnitPrice * (1 + i.VatRate)))</p>
                </div>
            </div>

            <hr />

            <!-- Final Price -->
            <div class="text-end">
                <h5><strong>@L["FinalPriceLabel"]</strong> @Invoice.Currency.FormatAmount(Invoice.Items.Sum(i => i.Quantity * i.UnitPrice * (1 + i.VatRate)))</h5>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public InvoiceDto Invoice { get; set; } = null!;
}