@using Domain.Models;

<div class="card border-1 shadow-sm">
    <div class="card-body row align-items-center" style="cursor: pointer;">
        <div class="col">
            <span class="fw-bold">@Invoice.InvoiceNumber</span>
        </div>
        <div class="col">
            <span class="text-muted">@Invoice.Seller!.Name</span>
        </div>
        <div class="col">
            <span class="text-muted">@Invoice.Buyer!.Name</span>
        </div>
        <div class="col">
            <span class="text-muted">@Invoice.DueDate.ToString("d")</span>
        </div>
        <div class="col">
            <span class="fw-bold">
                @CalculateInvoiceSum(Invoice) @Invoice.Currency
            </span>
        </div>
        <div class="col">
            <button class="btn btn-outline-success btn-sm" @onclick="() => OnExportInvoice.InvokeAsync(Invoice)">Export</button>
            <button class="btn btn-outline-primary btn-sm" @onclick="() => OnEditInvoice.InvokeAsync(Invoice)">Edit</button>
            <button class="btn btn-outline-danger btn-sm" @onclick ="() => OnDeleteInvoice.InvokeAsync(Invoice)">Delete</button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Invoice Invoice { get; set; } = null!;

    private decimal CalculateInvoiceSum(Invoice invoice) 
    {
        decimal total = 0;
        foreach (var item in invoice.Items) 
        {
            decimal itemTotal = item.Quantity * item.UnitPrice;
            total += itemTotal;
        }
        return total;
    }

    [Parameter]
    public EventCallback<Invoice> OnDeleteInvoice { get; set; }

    [Parameter]
    public EventCallback<Invoice> OnEditInvoice { get; set; }

    [Parameter]
    public EventCallback<Invoice> OnExportInvoice { get; set; }
}
