@using Microsoft.Extensions.Localization
@using Shared.DTOs
@using Shared.Extensions
@inject IStringLocalizer<NumberingSchemeListItem> L

<div class="card border-1 shadow-sm">
    <div class="card-body row align-items-center">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-grow-1">
                <span class="fw-bold">@NumberingScheme.ShowNumberingSchemePreview()</span>
            </div>
            <div class="d-flex flex-grow-1 justify-content-end pe-lg-5">
                <span class="text-muted">@L["DefaultLabel"] @(NumberingScheme.IsDefault ? L["YesOption"] : L["NoOption"])</span>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white border-0 d-flex gap-2">
        <button class="btn btn-outline-primary btn-sm w-25" @onclick="() => OnEditNumberingScheme.InvokeAsync(NumberingScheme)">@L["EditButton"]</button>
        <button class="btn btn-outline-danger btn-sm w-25" @onclick="() => OnDeleteNumberingScheme.InvokeAsync(NumberingScheme)">@L["DeleteButton"]</button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public NumberingSchemeDto NumberingScheme { get; set; } = null!;

    [Parameter]
    public EventCallback<NumberingSchemeDto> OnDeleteNumberingScheme { get; set; }

    [Parameter]
    public EventCallback<NumberingSchemeDto> OnEditNumberingScheme { get; set; }
}