@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> L

<h1>@L["WelcomeTitle"]</h1>

<p>@L["WelcomeSubtitle"]</p>

<p>@L["DescriptionIntro"]</p>

<ul>
    <li>@L["FeatureAutomation"]</li>
    <li>@L["FeatureClients"]</li>
    <li>@L["FeatureReports"]</li>
</ul>

<p>@L["ClosingStatement"]</p>