@page "/invoices";
@using System.Collections.ObjectModel
@using System.Globalization
@using Frontend.Components
@using Frontend.Services
@using Microsoft.Extensions.Localization
@using Shared.DTOs
@using Shared.Interfaces
@using Application.ServiceInterfaces
@using System.Net
@inject IInvoiceService invoiceService
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject ErrorService errorService
@inject IStringLocalizer<Invoices> L

@* PAGE CONTAINER *@
<div class="d-flex flex-column border rounded-3">
    @* HEADER *@
    <div class="d-flex justify-content-between align-items-center px-4 pt-4">
        <h3>@L["PageTitle"]</h3>
        <button class="btn btn-primary" @onclick="AddNewInvoice">
            @L["AddNewInvoiceButton"]
        </button>
    </div>
    <hr />
    @* CONTENT *@
    <div class="d-flex flex-column pb-4">
        @* FILTER AND SEARCH BAR *@
        <div class="card border-0 mx-4">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="@L["SearchPlaceholder"]" @oninput="SearchInvoices" />
                        <select class="form-select" @bind="searchType">
                            <option value="InvoiceNumber">@L["SearchOptionInvoiceNumber"]</option>
                            <option value="Buyer">@L["SearchOptionBuyer"]</option>
                            <option value="Seller">@L["SearchOptionSeller"]</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        @* LIST HEADER *@
        <div class="card border-1 shadow-sm mx-4 my-4">
            <div class="card-body row">
                <div class="col fw-bold">@L["ListHeaderInvoiceNumber"]</div>
                <div class="col fw-bold">@L["ListHeaderSeller"]</div>
                <div class="col fw-bold">@L["ListHeaderBuyer"]</div>
                <div class="col fw-bold">@L["ListHeaderDueDate"]</div>
                <div class="col fw-bold">@L["ListHeaderStatus"]</div>
                <div class="col fw-bold">@L["ListHeaderTotalWithVAT"]</div>
                <div class="col fw-bold">@L["ListHeaderActions"]</div>
            </div>
        </div>
        @* INVOICES LIST *@
        <div class="d-flex flex-column overflow-auto px-4 gap-2">
            @if (isLoadingData)
            {
                <Spinner />
            }
            else if (shownInvoices.Count == 0)
            {
                <p>@L["NoInvoicesFoundMessage"]</p>
            }
            else
            {
                @foreach (var invoice in shownInvoices)
                {
                    <InvoiceListItem Invoice="invoice" OnDeleteInvoice="DeleteInvoice" OnEditInvoice="EditInvoice" OnExportInvoice="ExportInvoice" OnPreviewInvoice="ShowInvoicePreview" OnInvoiceStatusUpdate="UpdateInvoiceStatus" />
                }
            }
        </div>
    </div>
</div>

@* PREVIEW MODAL *@
<Modal Title="@L["PreviewModalTitle"]" IsVisible="isPreviewingInvoice" OnClose="PreviewInvoice">
    @if (invoiceToPreview is not null)
    {
        <InvoicePreview Invoice="invoiceToPreview" />
    }
</Modal>

@code {
    private List<InvoiceDto> allInvoices = null!;
    private List<InvoiceDto> shownInvoices = new();
    private InvoiceDto? invoiceToPreview = null;
    private string searchTerm = string.Empty;
    private SearchType searchType = SearchType.InvoiceNumber;
    private bool isPreviewingInvoice = false;
    private bool isLoadingData = false;

    private enum SearchType 
    {
        InvoiceNumber,
        Buyer,
        Seller
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadInvoices();
    }

    private async Task LoadInvoices()
    {
        isLoadingData = true;
        try
        {
            allInvoices = (await invoiceService.GetAllAsync()).ToList();
            PopulateShownInvoices(allInvoices);
        }
        catch (Exception ex)
        {
            allInvoices = new();
            shownInvoices = new();
            errorService.ShowError($"Failed to load invoices. Error message: {ex.Message}");
        }
        finally
        {
            isLoadingData = false;
        }
    }

    private async void PopulateShownInvoices(IList<InvoiceDto> newInvoices)
    {
        shownInvoices.Clear();
        foreach (var inv in newInvoices)
        {
            shownInvoices.Add(inv);
        }
        await InvokeAsync(StateHasChanged);
    }

    private void SearchInvoices(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString() ?? string.Empty;
        if (string.IsNullOrEmpty(searchTerm)) 
        {
            PopulateShownInvoices(allInvoices);
            return;
        }
        string search = searchTerm.ToLower();
        switch (searchType) {
            case SearchType.InvoiceNumber:
                PopulateShownInvoices(allInvoices.Where(i => i.InvoiceNumber.ToLower().Contains(search)).ToList());
                break;
            case SearchType.Buyer:
                PopulateShownInvoices(allInvoices.Where(i => i.Buyer!.Name.ToLower().Contains(search)).ToList());
                break;
            case SearchType.Seller:
                PopulateShownInvoices(allInvoices.Where(i => i.Seller!.Name.ToLower().Contains(search)).ToList());
                break;
            default:
                PopulateShownInvoices(allInvoices);
                break;
        }
    }

    private void ShowInvoicePreview(InvoiceDto invToShow)
    {
        invoiceToPreview = invToShow;
        PreviewInvoice();
    }

    private void AddNewInvoice()
    {
        navigationManager.NavigateTo("/invoice/add");
    }

    private void EditInvoice(InvoiceDto invToEdit)
    {
        string currentUrl = navigationManager.Uri;
        string encodedReturnUrl = WebUtility.UrlEncode(currentUrl);
        navigationManager.NavigateTo($"/invoice/edit/{invToEdit.Id}?returnUrl={encodedReturnUrl}");
    }

    private async Task DeleteInvoice(InvoiceDto invToDelete)
    {
        try
        {
            bool status = await invoiceService.DeleteAsync(invToDelete.Id);
            if (status)
                await LoadInvoices();
        }
        catch (Exception ex)
        {
            errorService.ShowError(ex.Message);
        }
    }

    private void PreviewInvoice()
    {
        isPreviewingInvoice = !isPreviewingInvoice;
    }

    private async Task<bool> UpdateInvoiceStatus(InvoiceDto invToUpdate)
    {
        try
        {
            InvoiceDto updatedInvoice = await invoiceService.UpdateAsync(invToUpdate.Id, invToUpdate);
            int index = shownInvoices.IndexOf(shownInvoices.FirstOrDefault(i => i.Id == invToUpdate.Id)!);
            if (index != -1)
                shownInvoices[index].Status = updatedInvoice.Status;
            else
                throw new KeyNotFoundException("Invoice not found in the list.");
            return true;
        }
        catch (Exception e)
        {
            errorService.ShowError(e.Message);
            return false;
        }
    }

    private async Task ExportInvoice(InvoiceDto invToExport)
    {
        try
        {
            string currentCultureName = CultureInfo.CurrentCulture.Name;
            if (string.IsNullOrEmpty(currentCultureName))
                currentCultureName = "en-US";

            IPdfGenerationResult response = await invoiceService.ExportInvoicePdfAsync(invToExport.Id, currentCultureName);
            if (!response.IsSuccess)
            {
                errorService.ShowError(response.ErrorMessage!);
                return;
            }

            string defaultFileName = response.FileName;
            string? userFileName = await jsRuntime.InvokeAsync<string>("promptFilename", defaultFileName);

            if (string.IsNullOrWhiteSpace(userFileName))
                return;

            if (!userFileName.EndsWith(".pdf", StringComparison.OrdinalIgnoreCase))
                userFileName += ".pdf";

            await jsRuntime.InvokeVoidAsync("downloadPdf", userFileName, response.Data);
        }
        catch (Exception ex)
        {
            errorService.ShowError(ex.Message);
        }
    }
}
