@page "/numberingschemes"
@using Application.DTOs
@using Frontend.Api;
@using Application.ServiceInterfaces;
@using Frontend.Components;
@using Frontend.Services;
@using Microsoft.Extensions.Localization
@inject INumberingSchemeService numberingSchemeService;
@inject ErrorService errorService;
@inject IStringLocalizer<NumberingSchemes> L;

@* PAGE CONTAINER *@
<div class="d-flex flex-column border rounded-3">
    @* HEADER *@
    <div class="d-flex justify-content-between align-items-center px-4 pt-4">
        <h3>@L["PageTitle"]</h3>
        <button class="btn btn-primary" @onclick="ShowNewNumberingSchemeModal">
            @L["AddSchemeButton"]
        </button>
    </div>
    <hr />
    @* CONTENT *@
    <div class="d-flex flex-column pb-4">
        @* NUMBERING SCHEMES LIST *@
        <div class="d-flex flex-column overflow-auto px-4 gap-2">
            @if (allNumberingSchemes is null)
            {
                <p>@L["LoadingMessage"]</p>
            }
            else if (allNumberingSchemes.Count == 0)
            {
                <p>@L["NoSchemesFoundMessage"]</p>
            }
            else
            {
                foreach (var numberingScheme in allNumberingSchemes)
                {
                    <NumberingSchemeListItem NumberingScheme="numberingScheme" OnDeleteNumberingScheme="DeleteScheme" OnEditNumberingScheme="EditScheme" />
                }
            }
        </div>
    </div>
</div>

@* ADD NEW NUMBERING SCHEME MODAL *@
<Modal Title="@L["AddModalTitle"]" IsVisible="isAddingNewNumberingScheme" OnClose="ShowNewNumberingSchemeModal">
    @if (isAddingNewNumberingScheme)
    {
        <NumberingSchemeForm SubmitCallback="HandleAddSubmit" isActive="isAddingNewNumberingScheme" />
    }
</Modal>

@* EDIT NUMBERING SCHEME MODAL *@
<Modal Title="@L["EditModalTitle"]" IsVisible="isEditingNumberingScheme" OnClose="ShowEditNumberingSchemeModal">
    @if (isEditingNumberingScheme && numberingSchemeToEdit is not null)
    {
        <NumberingSchemeForm SubmitCallback="HandleEditSubmit" NumberingSchemeInstance="numberingSchemeToEdit" isActive="isEditingNumberingScheme" />
    }
</Modal>

@code {
    private IList<NumberingSchemeDto> allNumberingSchemes = new List<NumberingSchemeDto>();
    private NumberingSchemeDto? numberingSchemeToEdit = null;
    private bool isAddingNewNumberingScheme = false;
    private bool isEditingNumberingScheme = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadNumberingSchemes();
    }

    private async Task LoadNumberingSchemes()
    {
        try
        {
            allNumberingSchemes = (await numberingSchemeService.GetAllAsync()).ToList();
        }
        catch (Exception e)
        {
            errorService.ShowError(e.Message);
        }
    }

    private async Task DeleteScheme(NumberingSchemeDto schemeToDelete)
    {
        try
        {
            bool status = await numberingSchemeService.DeleteAsync(schemeToDelete.Id);
            if (status)
            {
                await LoadNumberingSchemes();
            }
        }
        catch (Exception e)
        {
            errorService.ShowError(e.Message);
        }
    }

    private async Task EditScheme(NumberingSchemeDto schemeToEdit)
    {
        numberingSchemeToEdit = schemeToEdit;
        await ShowEditNumberingSchemeModal();
    }

    private async Task ShowNewNumberingSchemeModal()
    {
        isAddingNewNumberingScheme = !isAddingNewNumberingScheme;
        if (!isAddingNewNumberingScheme)
            await LoadNumberingSchemes();
    }

    private async Task ShowEditNumberingSchemeModal()
    {
        isEditingNumberingScheme = !isEditingNumberingScheme;
        if (!isEditingNumberingScheme)
            await LoadNumberingSchemes();
    }

    private async Task HandleAddSubmit()
    {
        isAddingNewNumberingScheme = false;
        await LoadNumberingSchemes();
    }

    private async Task HandleEditSubmit()
    {
        isEditingNumberingScheme = false;
        numberingSchemeToEdit = null;
        await LoadNumberingSchemes();
    }
}
